<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.penguinscouts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".admin.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".manager.AddMatchActivity"
            android:label="@string/title_activity_add_match"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".manager.MatchListActivity"
            android:label="@string/title_activity_match_list"
            android:parentActivityName=".manager.ManagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.penguinscouts.manager.ManagerActivity" />
        </activity>
        <activity
            android:name=".manager.ManagerActivity"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".common.LoginRouteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".coatch.CoachActivity"
            android:label="@string/title_activity_coach"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".scouter.ScouterFormActivity"
            android:label="@string/title_activity_scouter_form"
            android:parentActivityName=".scouter.ScouterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.penguinscouts.scouter.ScouterActivity" />
        </activity>
        <activity
            android:name=".scouter.ScouterActivity"
            android:label="@string/title_activity_scouter"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".common.LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>