<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.penguinscouts">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MatchListActivity"
                android:label="@string/title_activity_match_list"
                android:parentActivityName=".ManagerActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.penguinscouts.ManagerActivity"/>
        </activity>
        <activity
                android:name=".ManagerActivity"
                android:label="@string/title_activity_manager"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".LoginRouteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CoachActivity"
                android:label="@string/title_activity_coach"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ScouterFormActivity"
                android:label="@string/title_activity_scouter_form"
                android:parentActivityName=".ScouterActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.penguinscouts.ScouterActivity"/>
        </activity>
        <activity
                android:name=".ScouterActivity"
                android:label="@string/title_activity_scouter"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login">
        </activity>
    </application>

</manifest>